---
import Card from '../common/Card.astro'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Card colSpan='md:col-span-4 lg:col-span-2' rowSpan='lg:row-span-1'>
    <div class="flex h-ful items-center justify-center text center">
        <p class="text-sm text-muted-foreground">
            {t('footer.builtBy')}
        </p>
    </div>
</Card>